@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin placeholder {
  &::-webkit-input-placeholder {@content;} // Chrome/Opera/Safari
  &::-moz-placeholder          {@content;} // Firefox 19+
  &:-moz-placeholder           {@content;} // Firefox 18-
  &:-ms-input-placeholder      {@content;} // IE 10+
}