@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin placeholder {
  &::-webkit-input-placeholder {@content;} // Chrome/Opera/Safari
  &::-moz-placeholder          {@content;} // Firefox 19+
  &:-moz-placeholder           {@content;} // Firefox 18-
  &:-ms-input-placeholder      {@content;} // IE 10+
}