.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, .8),
    rgba($color-primary-dark, .8)
  ),
  url('/img/hero-small.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  @media (min-resolution: 192dpi) and (min-width: 56.25),
         (-webkit-min-device-pixel-ratio: 2) and (min-width: 56.25),
         (min-width: 112.5em) {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, .8),
      rgba($color-primary-dark, .8)
    ),
    url('/img/hero.jpg');
  }
  @include respond(tab-port) {
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  }
  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &__logo {
    height: 3.5rem;
  }
  &__text-box {
    @include absCenter;
    text-align: center;
  }
}
